.followUs {
  margin: 0;
  box-sizing: border-box;
  padding-top: 10vw;
  width: 100%;
  max-width: 100vw;
  background: #fff;
}
.header h5 {
  font-size: 48px;
  font-family: 'Raleway';
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.tweetContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
}

@media screen and (max-width: 480px) {
  .tweetContainer {
    flex-direction: column;
  }
  .header h5 {
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }
}
