/* footer styles */
.footer {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75rem;
  background-color: #d4d4d4;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}
.footer h5,
.footer p {
  margin: 0;
  padding: 0;
  color: #183b56;
}
.footer h5 {
  font-weight: 700;
  font-size: 22px;
}
.footerContainer p {
  font-weight: 400;
  font-size: 22px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: center;
}

.footerContainer2,
.footerContainer3,
.footerContainer4 {
  align-self: flex-start;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  padding-top: 1vh;
  list-style-type: none;
}

.icon {
  text-decoration: none;
  margin: 0;
  background-color: rgb(206, 215, 255);
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.icon:hover {
  box-shadow: 0 14px 28px rgba(22, 102, 67, 0.336),
    0 10px 10px rgba(0, 0, 0, 0.22);
}
/* end of footer styles */

@media screen and (max-width: 480px) {
  .footer h5 {
    font-weight: 700;
    font-size: 16px;
  }
  .footer-container p {
    font-weight: 400;
    font-size: 14px;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer-container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .footer .footer-container-1 {
    align-self: center;
  }
}
