/* footer styles */
.footer {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.75rem;
  background-color: rgba(37, 34, 34, 0.65);
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  height: 300px;
  color: #fff;
}

.footer button {
  margin: 0;
  padding: 0;
  color: rgb(24, 23, 23);
}

.footer h5 {
  font-weight: 700;
  font-size: 22px;
  text-align: left;
  color: #fff;
}

.footerContainer p {
  font-weight: 400;
  font-size: 22px;
}

.footerContainer1 {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 10%;
  justify-content: center;
}

.footerContainer button {
  display: block;
}

.footerContainer2,
.footerContainer3,
.footerContainer4 {
  align-self: flex-start;
  flex-direction: column;
  margin-right: 5%;
}

.footerContainer2 button,
.footerContainer3 button,
.footerContainer4 button {
  text-align: left;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  margin: 0;
  list-style-type: none;
  height: 200px;
}

.icon {
  text-decoration: none;
  margin: 0;
  background-color: rgb(206, 215, 255);
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.icon:hover {
  box-shadow: 0 14px 28px rgba(22, 102, 67, 0.336),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.copyright {
  font-size: 1rem;
}
/* end of footer styles */

@media screen and (max-width: 700px) {
  .footer h5 {
    font-weight: 700;
    font-size: 16px;
  }
  .footerContainer p {
    font-weight: 400;
    font-size: 14px;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footerContainer {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .footer .footerContainer1 {
    align-self: center;
  }
}
