.container {
  width: 100%;
  height: 230px;
  background: #1565d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.header h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.info {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 0 20px;
}
.info p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  color: white;
  text-align: center;
}

.actionContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  background: white;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
}

.inputContainer {
  width: 75%;
}

.input {
  width: 100%;
  border-radius: 5px;
}
.buttonContainer {
  width: 25%;
}

.button {
  width: 100%;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .actionContainer {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .buttonContainer {
    width: 100%;
    margin: 10px 0;
  }

  .inputContainer {
    width: 100%;
  }

  .info p {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
}
