.container {
  width: 100%;

  background: rgb(228, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vw;
}
.header {
  color: #183b56;
}
.info {
  color: rgb(90, 74, 74);
}
.info p {
  padding-bottom: 2rem;
}
.actionContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  background: white;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.inputContainer {
  width: 75%;
}

.input {
  align-self: center;
  width: 97%;
  padding: 0.3em 1em;
  height: 100%;
  font-size: 1rem;
  border: 1px solid rgb(211, 204, 204);
}

.input:focus {
  outline: 1px solid rgb(211, 204, 204);
}
.buttonContainer {
  width: 25%;
}

.button {
  width: 100%;
  height: 100%;
  padding: 0.3em;
}

.error {
  color: red;
}
.donate {
  margin: 1.5rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .actionContainer {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .buttonContainer {
    width: 100%;
    margin: 10px 0;
  }

  .inputContainer {
    width: 100%;
  }

  .info p {
    text-align: center;

    font-size: 1rem;
  }
}
