.navContainer {
  padding: 10px;
  background-color: rgb(250, 250, 250, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
}

.logoContainer {
  margin-left: 3%;
}

.linksContainer {
  width: 50%;
  margin: 0 auto;
}

.logo {
  height: 50px;
  width: 50px;
}

.linkItem {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

.linkItem:hover {
  color: rgb(245, 121, 20);
  text-decoration: underline;
}

.linkItem:active {
  text-decoration: none;
}

.linkItem:focus {
  outline: none;
}

.linkText {
  padding-top: 15px;
}

.getInvolvedButton {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.menuButton {
  background-color: rgb(250, 250, 250, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
  .linksContainer {
    display: none;
  }
  .buttonContainer {
    display: none;
  }
}

@media (min-width: 769px) {
  .menuContainer {
    display: none;
  }
}
