.storyContainer {
  background-image: url('../Assets/Code_on_screen.jpg');
  background-size: cover;
  background-origin: inherit;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 85vh;
  align-items: center;
  justify-content: center;
}
.storyH1 {
  width: 80vw;
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Railway', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(250, 250, 250);
  justify-content: center;
  text-shadow: 4px 4px 8px #000;
}
.linkscontainer {
  display: flex;
  margin-top: 1.5rem;
  width: 80vw;
  justify-content: center;
}
.linkscontainer a {
  margin: 1.5rem 1rem;
}
.socialLink :hover {
  box-shadow: 3px 3px 6px #000;
}
