.mentee {
  padding: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.menteeAbove {
  margin: 0 auto;
}
.menteeHeader {
  color: #183b56;
}
.menteeAbove p {
  color: #5a7184;
}

.menteeAbove h3 {
  color: #183b56;
}
.menteeHero {
  width: 80%;
  margin: 0 auto;
}

.menteeHeroImage {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .mentee {
    flex-direction: column;
    text-align: center;
  }
  .menteeAbove h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .menteeHero {
    width: 99%;
  }
  .menteeAbove p {
    color: #5a7184;
    text-align: center;
  }
}
@media screen and (min-width: 601px) {
  .menteeHero {
    padding-left: 2rem;
    min-width: 175px;
  }
}
@media screen and (min-width: 800px) {
  .menteeHero {
    min-width: 300px;
  }
}
