.mentor {
  padding-top: 15vh;
  padding: 10vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;

  background: rgba(45, 117, 220, 0.3);
}
.mentorHeader {
  color: #183b56;
}
.mentorAbove {
  margin: 0 auto;
}

.mentorAbove p {
  color: #5a7184;
}

.mentorAbove h3 {
  color: #183b56;
}
.mentorHero {
  width: 80%;
  margin: 0 auto;
}

.mentorHeroImage {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .mentor {
    flex-direction: column;
    text-align: center;
  }
  .mentorHero {
    width: 99%;
  }
  .mentorAbove p {
    text-align: center;
  }
}
@media screen and (min-width: 601px) {
  .mentorHero {
    padding-right: 2rem;
    min-width: 175px;
  }
}
@media screen and (min-width: 800px) {
  .mentorHero {
    min-width: 300px;
  }
}
